@charset "UTF-8";
 /* 共通部分 */
html {
   font-size: 100%;
 }
body {
  font-family: "ヒラギノ角ゴシック";
  line-height: 1.7;
  margin: 0 40px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
/* container部分 */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* header部分 */
header {
  border-bottom: 3px solid rgb(14, 29, 133, .5);
}
.header-logo {
  margin-top: 20px;
  width: 450px;
}
/* main部分 */
main {
  margin-top: 50px;
}
.page-title {
  margin: 25px;
  text-align: center;
}
.page-title img {
  width: 300px;
}
.page-title p {
  margin: 0;
}
.explanation {
  text-align: center;
  font-size: 18px;
  line-height: 3;
}
.top-btn {
  text-align: center;
}
.top-btn a {
  color: #fff;
}
.top-btn p {
  margin: 20px;
}
.login-btn {
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(0, 19, 149, 0.7);
  border-radius: 3px;
}
.login-btn:hover {
  background-color: rgb(0, 19, 149, 0.5);
}
.registration-btn {
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(6, 115, 0, 0.7);
  border-radius: 3px;
}
.registration-btn:hover {
  background-color: rgb(6, 115, 0, 0.5);
}
/* footer部分 */
footer {
  margin-top: auto;
  text-align: center;
  border-top: 3px solid rgb(14, 29, 133, .5);
}
footer p {
  margin:10px 20px;
}
/* アカウント作成画面部分 */
.registration-form {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}
.registration-form form {
  margin-top: 20px;
}
.registration-form input {
  font-size: 1.2em;
  width: 100%;
}
.registration-form input[type="text"], input[type="email"], input[type="password"] {
  border-bottom: 1px solid #d1d1d1;
}
.registration-form input[type="file"] {
  font-size: 15px;
}
.control {
  margin-bottom: 1em;
}
button {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(6, 115, 0, 0.7);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}
button:hover {
  opacity: 0.7;
}
.required {
  margin-left: .3em;
  color: #f33;
  font-size: .9em;
  background-color: #fee;
  font-weight: bold;
}
/* ログインポップアップ */
.login-popup {
  height: 100vh;
  width: 100%;
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  background: #fff;
  padding: 30px;
  width: 50%;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#save {
  width: auto;
}
/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {
  .page-title {
    display: none;
  }
  .explanation {
    font-size: 15px;
  }
  .guide {
    font-size: 13px;
  }
  /* ログイン画面 */
  .content {
    width: 100%;
  }
  /* アカウント作成画面部分 */
  .registration-form {
    width: 100%;
  }
  .registration-form input[type="file"] {
    font-size: 15px;
  }
}
