@charset "UTF-8";
 /* 共通部分 */
html {
   font-size: 100%;
 }
body {
  font-family: "ヒラギノ角ゴシック";
  line-height: 1.7;
  margin: 0 40px;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
}
li {
  list-style: none;
}
/* container部分 */
.container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
/* header部分 */
header {
  border-bottom: 3px solid #000;
  display: flex;
  justify-content: space-between;
}
.header-logo {
  margin-top: 20px;
  width: 450px;
}
header .log-out {
  padding: 36px;
  font-size: 20px;
}
/* main部分 */
main {
  margin-top: 10px;
}
.post-page {
  display: flex;
  justify-content: space-between;

}
.page-title {
  margin: 25px;
  text-align: center;
}
.page-title img {
  width: 300px;
}
.page-title p {
  margin: 0;
}
.explanation {
  text-align: center;
  font-size: 18px;
  line-height: 3;
}
.top-btn {
  text-align: center;
}
.top-btn a {
  color: #fff;
}
.top-btn p {
  margin: 20px;
}
.login-btn {
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(0, 19, 149, 0.7);
  border-radius: 3px;
}
.login-btn:hover {
  background-color: rgb(0, 19, 149, 0.5);
}
.registration-btn {
  font-size: 15px;
  padding: 10px 25px;
  background-color: rgb(6, 115, 0, 0.7);
  border-radius: 3px;
}
.registration-btn:hover {
  background-color: rgb(6, 115, 0, 0.5);
}
/* article部分 */
article {
  width: 74%;
}
.post-form-here {
  color: rgb(12, 198, 86);
}
.post-form textarea{
  width: 100%;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 20px;
}
.submit-btn {
  display: inline-block;
  background-color: rgb(11, 19, 210, .5);
  color: #FFF;
  width: 80px;
  padding: 7px 10px;
  text-decoration: none;
  border-radius: 4px;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.12), 0 3px 20px 0 rgba(0,0,0,0.12), 0 5px 6px -2px rgba(0,0,0,0.2);
  -webkit-tap-highlight-color: transparent;
  transition: .3s ease-out;
  display: block;
  margin: 5px 0 5px auto;
}
.submit-btn:hover{
	 cursor: pointer;
	 text-decoration: none;
    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.12), 0 3px 1px -2px rgba(0,0,0,0.2);
}
.display-post {
  width: 100%;
}
.guide {
  display: inline;
  border-bottom: 2px solid rgb(226, 36, 218, .5);
}
.post-dl {
}
dd input[type="file"], select{
  margin-left: 30px;
}
.genre {
  width:90%;
  margin: 2px;
  position:relative;
}
select{
  -webkit-appearance:none;
  appearance:none;
  width: 15%;
  padding: 5px;
  box-sizing:border-box;
  font-size: 15px;
  border:#ccc 1px solid;
  border-radius:0;
  background:#fff;
}
.display-posts {
  display: flex;
  margin-bottom: 5px;
  clear: both;
}
.display-posts .posted-image {
  width: 200px;
}
.display-posts .view-posted-image {
  width: 300px;
}
.posted-details .letter {
  font-size: 20px;
  padding: 5px;
}
.posted-details .view-letter {
  font-size: 15px;
}
.posted-details .day {
  padding-left: 5px;
}
.posted-details .view-day {
  padding-left: 5px;
  font-size: 13px;
}
.user-info {
  display: flex;
  margin-left: 5px;
}
.view-user-info {
  margin-top: 20px;
}
.user-info .user-pic {
  width: 40px;
  height: 40px;
  object-fit:cover;
	border-radius:50%;
}
.reply-form textarea {
  height: 100px;
  width: 100%;
  border: 2px solid #000;
  border-radius: 6px;
  font-size: 20px;
}
.replies .user-pic {
  width: 58px;
  height: 58px;
  object-fit:cover;
	border-radius:50%;
}
.user-info .user-name {
  padding: 5px 10px;
}
.replies {
  display: flex;
  margin: 15px;
}
.replies .rep-day {
  font-size: 10px;
}
.rep-contents {
  margin-left: 10px;
}
.paging {
  text-align: center;
}
/* aside部分 */
aside {
  width: 23%;
  border-left: 1px solid #000;
  text-align: center;
  padding-left: 5px;
}
aside p {
  padding: 12px 10px;
}
.sub-title {
  font-size: 20px;
  padding: 0 8px 8px;
  border-bottom: 1px solid rgb(14, 29, 133, .5);
  font-weight: normal;
}
.sub-menu {
  margin-bottom: 60px;
  list-style: none;
  margin-top: 10px;
}
.sub-menu li {
  font-size: 20px;
  padding-left: 14px;
  margin-bottom: 10px;
  border-bottom: 1px #ddd solid;
}
.sub-menu a {
  color: rgb(14, 29, 133, .5);
  padding: 10px;
  display: block;
}
.sub-menu a:hover {
  color: #000;
}
/* ログアウトボタンの隠蔽 */
.res-log-out {
  display: none;
}
/* footer部分 */
footer {
  margin-top: auto;
  text-align: center;
  border-top: 3px solid rgb(14, 29, 133);
}
footer p {
  margin:10px 20px;
}
/* アカウント作成画面部分 */
.registration-form {
  width: 600px;
  margin: 30px auto;
  border: 1px solid #d1d1d1;
  padding: 30px;
}
.registration-form form {
  margin-top: 20px;
}
.registration-form input {
  font-size: 1.2em;
  width: 100%;
}
.registration-form input[type="text"], input[type="email"], input[type="password"] {
  border-bottom: 1px solid #d1d1d1;
}
.registration-form input[type="file"] {
  font-size: 15px;
}
.control {
  margin-bottom: 1em;
}
button {
  margin-top: 30px;
  width: 100%;
  background-color: rgb(6, 115, 0, 0.7);
  padding: 15px;
  border-radius: 3px;
  box-shadow: 0 0 8px rgba(0, 0, 0, .4);
}
button:hover {
  opacity: 0.7;
}
.required {
  margin-left: .3em;
  color: #f33;
  font-size: .9em;
  background-color: #fee;
  font-weight: bold;
}
/* ログインポップアップ */
.login-popup {
  height: 100vh;
  width: 100%;
  background: grey;
  position: fixed;
  top: 0;
  left: 0;
}
.content {
  background: #fff;
  padding: 30px;
  width: 50%;
}
.show {
  display: flex;
  justify-content: center;
  align-items: center;
}
#save {
  width: auto;
}
/* レスポンシブデザイン */
@media only screen and (max-width: 600px) {
  .page-title {
    display: none;
  }
  .explanation {
    font-size: 15px;
  }
  .guide {
    font-size: 13px;
  }
  /* ログイン画面 */
  .content {
    width: 100%;
  }
  /* アカウント作成画面部分 */
  .registration-form {
    width: 100%;
  }
  .registration-form input[type="file"] {
    font-size: 15px;
  }
  /* ログアウト部分 */
  .log-out {
    display: none;
  }
  /* トップページ部分 */
  .post-page {
    flex-direction: column;
  }
  article,
  aside {
    width: 100%;
    border-left: none;
  }
  /* article部分 */
  article h2 {
    font-size: 15px;
  }
  article dd input[type="file"] {
    font-size: small;
  }
  article select {
    padding: 1px;
  }
  .submit-btn {
    padding: 1px 1px;
  }
  .view-display-posts {
    display: contents;
  }
  .display-posts .posted-image {
    width: 150px;
  }
  .display-posts .view-posted-image {
    width: auto;
  }
  .posted-details .letter {
    font-size: 12px;
  }
  .posted-details .day {
    font-size: 8px;
  }
  .posted-details .view-day {
    display: inline;
    float: right;
  }
  .user-info .user-pic {
    width: 30px;
    height: 30px;
    border: 1px solid rgb(0, 0, 0, .2);
  }
  .user-info .user-name {
    font-size: 5px;
  }
  .view-user-info {
    margin: 0;
  }
  /* aside部分 */
  aside {
    margin: 20px 0;
  }
  aside h1 {
    display: none;
  }
  aside .sub-menu {
    border-top: 2px solid #000;
    padding-top: 5px;
  }
  aside .sub-menu li {
    padding-left: 0;
    margin-bottom: 5px
  }
  aside .sub-menu a {
    padding: 0;
  }
  aside .sub-title {
    font-size: 17px;
  }
  aside .sub-explanation {
    font-size: 11px;
  }
  .res-log-out {
    display: inline;
  }
}
